/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area {
     -fx-font-family: Helvetica;
     -fx-text-fill: rgb(33, 33, 33);
     -fx-font-size: 13px;
}

.tab-close-button {
	-fx-background-color: transparent;
}

.tab-close-button:hover{
	-fx-background-color:derive(-fx-mark-color, -30%);
}

#userText {
	 -fx-color: #2F2F2F;
     -fx-control-inner-background: white;
     -fx-text-fill: black;
     -fx-border-color: #2F2F2F;
}

#counterColumn .scroll-pane {
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
	-fx-visibility: hidden;
	-fx-background-color: transparent;
}